<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  {{template "header.tmpl.html"}}
  <body>
    <header>
      <img id="icon" src="static/icon.png" alt="AI Logo"/>
      <h3 id="title">Open AI Chat</h3>
      <input id="temp" type="range" min="0" max="10" value="10" title="AI Predictability Temperature"/>
    </header>
    <main id="conversation"></main>
    <footer>  
      <button id="submit-btn" type="submit" title="Send">▶</button>
      <textarea id="prompt" readonly="readonly">?></textarea><textarea id="stdin" type="text" placeholder="<Enter> or ▶ to process.
<Shift+Enter> for a new line." rows="2"></textarea>
    </footer>
    <script type="text/javascript" src="static/main.js" ></script>
  </body>
  <p style="position: absolute; bottom: 0; right: 2em; font-size: 10px;">This site uses cookies. © 2022 Jonah Henriksson</p>
</html>
